@model IEnumerable<SMS.Models.Student>

@{
    ViewData["Title"] = "GetStudents";
}


@* <h1>Get Students</h1> *@


@* <p>
    <a asp-action="Index">Create New</a>
</p> *@

@{
    Layout = "_LayoutLoggedIn";
}

<form method="get" action="@Url.Action("GetStudents", "Student")">
<section class="px-3 py-16 md:px-48 md:pt-40 md:pb-20">
    <nav class="space-y-4">
            <input name="searchQuery" type="text" class="w-full border border-grey shadow px-3 py-2 placeholder:text-black focus:outline-none
             focus:border-secondary md:px-5" placeholder="Search by name..." name="searchQuery">
        <button class="bg-primary px-5 py-1 font-semibold text-[17px] rounded-sm text-black">Search</button>
    </nav>
</section>
</form>


<section class="px-3 md:px-12 lg:px-20">
    <nav class=" hidden md:block">
        <table class="w-full overflow-hidden">
            <thead class="">
                <tr class="text-[14px] border-b border-secondary text-left ">
                    <th class="px-4 py-2 text-[15px] tracking-wide">
                        @Html.DisplayNameFor(model => model.StudentName)
                    </th>
                    <th class="px-4 py-2 text-[15px] tracking-wide">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th class="px-4 py-2 text-[15px] tracking-wide">
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th class="px-4 py-2 text-[15px] tracking-wide">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th class="px-4 py-2 text-[15px] tracking-wide">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr class="border-b border-grey">
                        <td class="px-4 py-2">
                            @Html.DisplayFor(modelItem => student.StudentName)
                        </td>
                        <td class="px-4 py-2">
                            @Html.DisplayFor(modelItem => student.Email)
                        </td>
                        <td class="px-4 py-2">
                            @Html.DisplayFor(modelItem => student.Phone)
                        </td>
                        <td class="px-4 py-2">
                            @Html.DisplayFor(modelItem => student.Address)
                        </td>
                        <td class="px-4 py-2">
                            <a asp-action="AddPayment" asp-route-studentId="@student.StudentId" class="text-primary hover:underline">Add Payment</a> |
                            <a asp-action="PaymentHistory" asp-route-studentId="@student.StudentId" class="text-primary hover:underline">Payment History</a>
                        </td>
                    </tr>
                
                }
            </tbody>
        </table>
    </nav>

    
     @foreach (var student in Model)
                {
    <nav class="grid grid-cols-1 gap-4 mb-10 sm:grid-cols-2 block md:hidden">
        <div class="bg-grey p-3 space-y-4 rounded-lg text-sm shadow">
            <div class="flex space-x-3 items-center">
                    <div class="rounded-lg px-1 py-1 font-semibold"> @Html.DisplayFor(modelItem => student.StudentName)</div>
                    <div> @Html.DisplayFor(modelItem => student.Phone)</div>
            </div>
                <div> @Html.DisplayFor(modelItem => student.Email)</div>
                <div>@Html.DisplayFor(modelItem => student.Address)</div>
            <div>
                    <a asp-action="AddPayment" asp-route-studentId="@student.StudentId" class="text-primary hover:underline">Add Payment</a> |
                    <a asp-action="PaymentHistory" asp-route-studentId="@student.StudentId" class="text-primary hover:underline">Payment History</a>
                </div>
        </div>
      
    </nav>
    }

@* <form method="get" action="@Url.Action("GetStudents", "Student")">
    <div class="form-group">
        <input type="text" class="form-control" name="searchQuery" placeholder="Search by name...">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form> *@

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var student in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => student.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => student.Address)
            </td>
            <td>
               
                    <a asp-action="AddPayment" asp-route-studentId="@student.StudentId">Add Payment</a> |
                    <a asp-action="PaymentHistory" asp-route-studentId="@student.StudentId">Payment History</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

             

       