@model IEnumerable<SMS.Models.Payment>

@{
    ViewData["Title"] = "Monthly Payments";
    Layout = "_LayoutLoggedIn";
}

<section class="mt-10 md:flex sm:px-6 md:px-9 md:space-x-8 md:pt-16 md:justify-evenly md:items-center lg:justify-start lg:px-20">
    <nav class="px-3 space-y-3 lg:w-1/2">
        <p class="text-xl font-bold md:text-2xl lg:text-3xl lg:pb-5">Monthly Payments</p>
        <form method="post" action="" class="border border-grey shadow-lg px-3 py-5 space-y-2 rounded-xs md:px-10 md:py-7 md:space-y-4">
            <div class="space-y-1 lg:space-y-2">
                <label class="text-black font-semibold text-[16px] md:text-xl">Start Date:</label>
                <input id="startMonth" name="startMonth" required type="date" class="border border-grey w-full px-3 py-1 placeholder:text-primary focus:outline-none
                        focus:border-secondary md:w-full" value="@ViewBag.StartDate">
            </div>
            <div class="space-y-1 lg:space-y-2">
                <label class="text-black font-semibold text-[16px] md:text-xl">End Date:</label>
                <input id="endMonth" name="endMonth" required type="date" class="border border-grey w-full px-3 py-1 focus:outline-none focus:border-secondary" value="@ViewBag.EndDate">
            </div>

            <div class="">
                <button class="bg-orange-600 text-white rounded-lg text-center font-bold w-full py-2 mt-4">Submit</button>
            </div>
        </form>
    </nav>

    @if (Model != null && Model.Any())
    {
        <nav class="hidden md:block md:space-y-10 lg:px-5 lg:w-1/2">
            <table class="w-full overflow-hidden">
                <thead>
                    <tr class="border-b border-secondary text-left">
                        <th class="px-4 py-2 text-[15px] font-bold tracking-wide lg:text-[18px]">Student Name</th>
                        <th class="px-4 py-2 text-[15px] font-bold tracking-wide lg:text-[18px]">Amount</th>
                        <th class="px-4 py-2 text-[15px] font-bold tracking-wide lg:text-[18px]">Payment Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model)
                    {
                        <tr class="border-b border-grey">
                            <td class="px-4 py-2">@Html.DisplayFor(modelItem => payment.Student.StudentName)</td>
                            <td class="px-4 py-2">@Html.DisplayFor(modelItem => payment.Amount)</td>
                            <td class="px-4 py-2">@payment.PaymentDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="">
                <p class="text-xl text-primary font-bold">Total Amount:</p>
                <strong>
                    <strong>@ViewBag.TotalAmount.ToString("C0")</strong>
                </strong>
            </div>

            @if (ViewBag.TotalPages > 1)
            {
                <div class="mt-4 flex justify-center">
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <a href="?page=@i&startMonth=@ViewBag.StartDate&endMonth=@ViewBag.EndDate" class="mx-1 px-4 py-2 bg-orange-600 text-white rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline @(i == ViewBag.CurrentPage ? "bg-blue-700" : "")">@i</a>
                    }
                </div>
            }
        </nav>
    }
    else
    {
        <p class="text-orange-600">No payments found for the specified period.</p>
    }
</section>
