@model SMS.ViewModels.PaymentHistoryViewModel

@{
    ViewData["Title"] = "Payment History";
}

<h1>Payment History for @Model.StudentName</h1>


<table class="table">
    <thead>
        <tr>
            <th>Date Recorded</th>
            <th>Date Paid</th>
            <th>Amount</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model.Payments)
        {
            <tr>
                <td>@payment.PaymentDate.ToShortDateString()</td>
                <td>@(payment.Date.HasValue ? payment.Date.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                <td>@payment.Amount.ToString( " ₦0") </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><strong>Total Amount:</strong></td>
            <td><strong>@Model.TotalAmount.ToString(" ₦0")</strong></td>
        </tr>
    </tfoot>

</table>

<section class="mx-3 py-4 md:py-16 md:px-24">

    <div class=" md:py-36">
        <h1 class="text-xl font-bold pt-10 mb-2 md:pt-2 md:mb-7 md:text-4xl">Payment History for @Model.StudentName</h1>
        <nav class=" hidden md:block">
            <table class="min-w-full bg-white overflow-hidden">
                <thead class=" text-left text-white">
                    <tr class="border-b border-secondary text-black text-[12px] md:text-xl">
                        <th class="px-4 py-2">Date Recorded</th>
                        <th class="px-4 py-2">Date Paid</th>
                        <th class="px-4 py-2">Amount</th>
                    </tr>
                </thead>

                <tbody class="">
                    <tr class="border-b border-grey">
                        <td class="px-4 py-2">19/12/23</td>
                        <td class="px-4 py-2">N/A</td>
                        <td class="px-4 py-2">&#8358;400</td>
                    </tr>
                    <tr class="border-b border-grey">
                        <td class="px-4 py-2">19/12/23</td>
                        <td class="px-4 py-2">N/A</td>
                        <td class="px-4 py-2">&#8358;400</td>
                    </tr>
                    <tr class="border-b border-grey">
                        <td class="px-4 py-2">19/12/23</td>
                        <td class="px-4 py-2">N/A</td>
                        <td class="px-4 py-2">&#8358;400</td>
                    </tr>
                    <tr class="border-b border-grey">
                        <td class="px-4 py-2">19/12/23</td>
                        <td class="px-4 py-2">N/A</td>
                        <td class="px-4 py-2">&#8358;400</td>
                    </tr>
                </tbody>

            </table>
        </nav>

        <!-- Phone-View -->
        <nav class="px-2 grid grid-cols-1 gap-4 sm:grid-cols-2 block md:hidden">
            <div class="bg-grey p-3 rounded-lg space-y-4 shadow-lg">
                <div class="flex space-x-5 items-center">
                    <div class="text-lg font-bold">19/09/23</div>
                    <div class="text-lg ">N/A</div>
                </div>
                <div class="text-lg">$400.00</div>
            </div>
            <div class="bg-grey p-3 rounded-lg space-y-4 shadow-lg">
                <div class="flex space-x-5 items-center">
                    <div class="text-lg font-bold">19/09/23</div>
                    <div class="text-lg">N/A</div>
                </div>
                <div class="text-lg ">$400.00</div>
            </div>
            <div class="bg-grey p-3 rounded-lg space-y-4 shadow-lg">
                <div class="flex space-x-5 items-center">
                    <div class="text-lg font-bold">19/09/23</div>
                    <div class="text-lg">N/A</div>
                </div>
                <div class="text-lg ">$400.00</div>
            </div>
            <div class="bg-grey p-3 rounded-lg space-y-4 shadow-lg">
                <div class="flex space-x-5 items-center">
                    <div class="text-lg font-bold">19/09/23</div>
                    <div class="text-lg">N/A</div>
                </div>
                <div class="text-lg ">$400.00</div>
            </div>
            <div class="bg-grey p-3 rounded-lg space-y-4 shadow-lg">
                <div class="flex space-x-5 items-center">
                    <div class="text-lg font-bold">19/09/23</div>
                    <div class="text-lg">N/A</div>
                </div>
                <div class="text-lg ">$400.00</div>
            </div>
        </nav>
    </div>
</section>