@model SMS.ViewModels.PaymentHistoryViewModel

@{
    ViewData["Title"] = "Payment History";
}

@* <h1>Payment History for @Model.StudentName</h1>


<table class="table">
    <thead>
        <tr>
            <th>Date Recorded</th>
            <th>Date Paid</th>
            <th>Amount</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model.Payments)
        {
            <tr>
                <td>@payment.PaymentDate.ToShortDateString()</td>
                <td>@(payment.Date.HasValue ? payment.Date.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                <td>@payment.Amount.ToString( " ₦0") </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><strong>Total Amount:</strong></td>
            <td><strong>@Model.TotalAmount.ToString(" ₦0")</strong></td>
        </tr>
    </tfoot>

</table> *@
@{
    Layout = "_LayoutLoggedIn";
}



<section class="mx-3 py-4 md:py-16 md:px-24">
    <div class="float-right">
        <h2 colspan="2"><strong>Total Amount:</strong></h2>
        <h2 class="text-2xl"><strong> ₦@string.Format("{0:#,0}", Model.TotalAmount)</strong></h2>
        
    </div>
    <div class=" md:py-36">
        <h1 class="text-xl font-bold pt-10 mb-2 md:pt-2 md:mb-7 md:text-4xl">Payment History for @Model.StudentName</h1>
        <nav class=" hidden md:block">
            <table class="min-w-full bg-white overflow-hidden">
                <thead class=" text-left text-white">
                    <tr class="border-b border-secondary text-black text-[12px] md:text-xl">
                        <th class="px-4 py-2">Date Recorded</th>
                        <th class="px-4 py-2">Date Paid</th>
                        <th class="px-4 py-2">Amount</th>
                    </tr>
                </thead>

                <tbody class="">
                     @foreach (var payment in Model.Payments)
                  {
                    <tr class="border-b border-grey">
                            <td class="px-4 py-2">@payment.PaymentDate.ToShortDateString()</td>
                            <td class="px-4 py-2">@(payment.Date.HasValue ? payment.Date.Value.ToString("yyyy-MM-dd") : "N/A")</td>
                            <td class="px-4 py-2">@payment.Amount.ToString( " ₦0")</td>
                            <td>  <a asp-action="Receipt" asp-route-paymentId="@payment.PaymentId" class="text-orange-600 hover:underline">Print Receipt</a></td>
                    </tr>
                  }
                    
                </tbody>
                <tfoot>
                    <tr>
                       @*  <td colspan="2"><strong>Total Amount:</strong></td>
                        <td><strong>@Model.TotalAmount.ToString(" ₦0")</strong></td>  *@
                    </tr>
                </tfoot>
            </table>
           
        </nav>

        @if (ViewBag.TotalPages > 1)
        {
            <div class="mt-4 flex justify-center">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <a href="?studentId=@Model.StudentId&page=@i" class="mx-1 px-4 py-2 bg-orange-600 text-white rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline @(i == ViewBag.CurrentPage ? "bg-blue-700" : "")">@i</a>
                }
            </div>
        }
        
   
</section>
>
