@model SMS.ViewModels.PaymentViewModel

@{
    ViewData["Title"] = "Receipt";
}
@{
    Layout = "_LayoutReceipt";
}



@* <body class="font-sans"> *@

    <div class="flex flex-col mx-6 lg:mx-20 lg:w-8/12 border border-gray-300 rounded-md p-6 bg-orange-600 text-orange-600 shadow-lg">

        <h1 class="my-10 text-2xl font-semibold">Receipt</h1>

        <div class="mb-4">
            <p class="mb-2 text-lg">Transaction ID: <strong class="text-orange-600">@Model.TransactionId</strong></p>
        <p class="mb-2 text-lg">Amount Paid: ₦<strong class="text-orange-600"> @string.Format("{0:#,0}", Model.AmountPaid)</strong></p>
            <p class="mb-2 text-lg">Month Paid: <strong class="text-orange-600">@Model.MonthPaid</strong></p>
            <p class="mb-2 text-lg">Student Name: <strong class="text-orange-600">@Model.StudentName</strong></p>
        
            <p class="mb-2 text-lg">Receipt Date: <strong class="text-orange-600">@Model.ReceiptDateTime</strong></p>
            
        </div>

  
 
   

        
    <button id="printButton" class="bg-orange-600 text-orange-600 py-2 px-4 rounded mt-4 lg:mt-10 lg:text-[18px] lg:px-20 lg:font-bold hover:scale-95 hover:shadow-lg" onclick="printReceipt()">Print Receipt</button>

    <script>
        function printReceipt() {
           
            var printButton = document.getElementById("printButton");
            if (printButton) {
                printButton.style.display = "none";

                window.print();

             
                printButton.style.display = "block";
            }
        }
    </script>

    </div>
   

@* </body> *@
</html>
